.mat-column-product,
.mat-column-carbohydrates,
.mat-column-proteins,
.mat-column-fats,
.mat-column-blank {
  text-align: center;
}

.chart {
  width: 430px;
  height: 430px;
}

.add-button {
  padding-left: 12px;
  padding-right: 22px
}
