<mat-divider></mat-divider>
<div class="grid grid-cols-2 gap-4 p-8 min-w-80">
  <div>
    <table mat-table [dataSource]="dataSource" class="table">
      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Product</th>
        <td mat-cell *matCellDef="let element"> {{ element.product }}</td>
      </ng-container>

      <ng-container matColumnDef="carbohydrates">
        <th mat-header-cell *matHeaderCellDef> Carbs</th>
        <td mat-cell *matCellDef="let element"> {{ element.carbohydrates }}</td>
      </ng-container>

      <ng-container matColumnDef="proteins">
        <th mat-header-cell *matHeaderCellDef> Proteins</th>
        <td mat-cell *matCellDef="let element"> {{ element.proteins }}</td>
      </ng-container>

      <ng-container matColumnDef="fats">
        <th mat-header-cell *matHeaderCellDef> Fats</th>
        <td mat-cell *matCellDef="let element"> {{ element.fats }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="row-span-2" style="display: block;">
    <div class="center">
      <canvas baseChart width="100" height="100"
              [type]="'doughnut'"
              [data]="doughnutChartData"
              [options]="doughnutChartOptions"
              [legend]="doughnutChartLegend">
      </canvas>
    </div>
  </div>
  <div>
    <form [formGroup]="myForm">
      <div class="flex justify-start">
        <mat-form-field>
          <input type="text" matInput formControlName="product" placeholder="product">
          <mat-hint>Enter weight</mat-hint>
          @if (myForm.controls['product'].hasError('required')) {
            <mat-error>Field is required</mat-error>
          }
          @if (myForm.controls['product'].hasError('minlength')) {
            <mat-error>Minimum length is 2</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="px-2">
          <input type="text" matInput formControlName="carbohydrates" placeholder="carbohydrates">
          <mat-hint>Enter date</mat-hint>
          @if (myForm.controls['carbohydrates'].hasError('required')) {
            <mat-error>Field is required</mat-error>
          }
          @if (myForm.controls['carbohydrates'].hasError('minlength')) {
            <mat-error>Minimum length is 2</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput formControlName="proteins" placeholder="proteins">
          <mat-hint>Enter weight</mat-hint>
          @if (myForm.controls['proteins'].hasError('required')) {
            <mat-error>Field is required</mat-error>
          }
          @if (myForm.controls['proteins'].hasError('minlength')) {
            <mat-error>Minimum length is 2</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="px-2">
          <input type="text" matInput formControlName="fats" placeholder="fats">
          <mat-hint>Enter date</mat-hint>
          @if (myForm.controls['fats'].hasError('required')) {
            <mat-error>Field is required</mat-error>
          }
          @if (myForm.controls['fats'].hasError('minlength')) {
            <mat-error>Minimum length is 2</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex justify-end pt-2">
        <div class="flex justify-between w-40 pr-2">
          <button color="warn" mat-flat-button>Clear</button>
          <button color="primary" (click)="save()" mat-flat-button>Add</button>
        </div>
      </div>
    </form>
  </div>
</div>

