<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Coach</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

  <div class="theme-control">
    <mat-slide-toggle checked (click)="toggleTheme()"></mat-slide-toggle>
    <button mat-icon-button>
      @if (themeService.themeSignal() === 'dark'){
      <mat-icon>bedtime</mat-icon>
      } @else {
      <mat-icon>brightness_5</mat-icon>
      }
    </button>
  </div>
</mat-toolbar>
