@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$custom-primary-palette: (
  50: #e8eaf6,
  100: #e8eaf6,
  200: #e8eaf6,
  300: #e8eaf6,
  400: #e8eaf6,
  500: #e8eaf6,
  600: #e8eaf6,
  700: #e8eaf6,
  800: #e8eaf6,
  900: #e8eaf6,
  contrast:(
    50: #9098ff,
    100: #9098ff,
    200: #9098ff,
    300: #9098ff,
    400: #9098ff,
    500: #9098ff,
    600: #9098ff,
    700: #9098ff,
    800: #9098ff,
    900: #9098ff,
  ),
);

$custom-primary: mat.define-palette($custom-primary-palette);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-accent: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color:(
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
));
