.center {
  display: flex;
  justify-content: center;
}

.mat-column-created,
.mat-column-weightValue,
.mat-column-blank {
  text-align: center;
  max-width: 80px;
}

.mat-column-blank {
  width: 10%;
}

.chart {
  width: 392px;
  height: 392px;
}

.add-button {
  padding-right: 6px
}

.centered-hint {
  display: block;
  text-align: center;
  width: 100%;
}
