.center {
  display: flex;
  justify-content: center;
}


.mat-column-created,
.mat-column-weightValue,
.mat-column-blank{
  text-align: center;
}

.mat-column-blank {
  width: 10%;
}

.chart{
  width: 392px;
  height: 392px;
}
