<div class="grid grid-cols-2 gap-4">
  <div>
    <table mat-table [dataSource]="dataSource" class="table">
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created</th>
        <td mat-cell *matCellDef="let element"> {{element.created}} </td>
      </ng-container>

      <ng-container matColumnDef="weightValue">
        <th mat-header-cell *matHeaderCellDef> Weight</th>
        <td mat-cell *matCellDef="let element"> {{element.weightValue}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="row-span-2" style="display: block;">
    <div class="center">
      <canvas baseChart width="100" height="100"
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend">
      </canvas>
    </div>
  </div>
  <div>
    <form [formGroup]="myForm">
      <mat-form-field class="">
        <input type="text" matInput formControlName="firstName" placeholder="John">
        <mat-hint>Enter name</mat-hint>
        @if (myForm.controls['firstName'].hasError('required')) {
        <mat-error>  Field is required</mat-error>
        }
        @if (myForm.controls['firstName'].hasError('minlength')) {
        <mat-error>Minimum length is 2 </mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="lastName" placeholder="Smith">
        <mat-hint>Enter last name</mat-hint>
        @if (myForm.controls['lastName'].hasError('required')) {
        <mat-error>Field is required</mat-error>
        }
        @if (myForm.controls['lastName'].hasError('minlength')) {
        <mat-error>Minimum length is 2</mat-error>
        }
      </mat-form-field>
    </form>
  </div>
</div>

