<mat-divider></mat-divider>
<div class="grid grid-cols-2 gap-4 p-8 min-w-80">
  <div>
    <table mat-table [dataSource]="dataSource" class="table">
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef> Created</th>
        <td mat-cell *matCellDef="let element"> {{ element.created }}</td>
      </ng-container>

      <ng-container matColumnDef="weightValue">
        <th mat-header-cell *matHeaderCellDef> Weight</th>
        <td mat-cell *matCellDef="let element"> {{ element.weightValue }}</td>
      </ng-container>

      <ng-container matColumnDef="blank">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="delete(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="row-span-2" style="display: block;">
    <div class="center">
      <canvas baseChart width="100" height="100"
              [type]="'line'"
              [data]="lineChartData"
              [options]="lineChartOptions"
              [legend]="lineChartLegend">
      </canvas>
    </div>
  </div>
  <div>
    <form [formGroup]="myForm">
      <div class="flex justify-start">
        <mat-form-field>
          <input type="text" matInput formControlName="created" placeholder="Date">
          <mat-hint>Enter weight</mat-hint>
          @if (myForm.controls['created'].hasError('required')) {
            <mat-error>Field is required</mat-error>
          }
          @if (myForm.controls['created'].hasError('minlength')) {
            <mat-error>Minimum length is 2</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="px-2">
          <input type="text" matInput formControlName="weightValue" placeholder="Weight">
          <mat-hint>Enter date</mat-hint>
          @if (myForm.controls['weightValue'].hasError('required')) {
            <mat-error>Field is required</mat-error>
          }
          @if (myForm.controls['weightValue'].hasError('minlength')) {
            <mat-error>Minimum length is 2</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="flex justify-end pt-2">
        <div class="flex justify-between w-40 pr-2">
          <button color="warn" mat-flat-button>Clear</button>
          <button color="primary" (click)="save()" mat-flat-button>Add</button>
        </div>
      </div>
    </form>
  </div>
</div>

