<div class="flex justify-center flex-wrap pt-12">
  <div class="card">
    <div class="inside-card">
      <div class="flex justify-center">
        <p><b>Basic</b></p>
      </div>
      <div class="flex justify-start features-list">
        <ul>
        <li>Manage up to 3 clients seamlessly.</li>
        <li>Access essential tools to organize and track client progress.</li>
        <li>Perfect for those starting out in personal training or small group coaching.</li>
      </ul>
      </div>
      <div class="flex justify-center price">
        <p><b>1$</b></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="inside-card">
      <div class="flex justify-center">
        <p><b>Regular</b></p>
      </div>
      <div class="flex justify-start features-list">
        <ul>
          <li>Manage up to 5 clients with ease.</li>
          <li>Enhanced features for scheduling, progress tracking, and client engagement.</li>
          <li>Ideal for mid-level trainers with a growing client base.</li>
        </ul>
      </div>
      <div class="flex justify-center price">
        <p><b>2$</b></p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="inside-card">
      <div class="flex justify-center">
        <p><b>Pro</b></p>
      </div>
      <div class="flex justify-start features-list">
        <ul>
          <li>Manage up to 20 clients efficiently.</li>
          <li>24/7 dedicated support to assist you whenever you need help</li>
          <li>Includes advanced tools and analytics to optimize client results and grow your business.</li>
        </ul>
      </div>
      <div class="flex justify-center price">
        <p><b>5$</b></p>
      </div>
    </div>
  </div>

</div>
