:host ::ng-deep .highlight-date {
  background-color: #96b7d6;
  border-radius: 50%;
}

.bottom{
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.mat-column-time,
.mat-column-note,
.mat-column-blank {
  text-align: center;
}

.mat-column-blank {
  width: 10%;
}

.calendar{
  width: 400px;
  height: 450px;
}

.add-button {
  padding-right: 6px
}
