<mat-divider></mat-divider>
<div class="flex flex-wrap justify-around tab">
  <div class="p-8">
    <div >
      <!--      <div *ngIf="message">-->
      <!--        <p>{{ message }}</p>-->
      <!--      </div>-->
      <table mat-table [dataSource]="dataSource" class="table">
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Time</th>
          <td mat-cell *matCellDef="let element"> {{ element.time }}</td>
        </ng-container>
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef> Note</th>
          <td mat-cell *matCellDef="let element"> {{ element.note }}</td>
        </ng-container>
        <ng-container matColumnDef="blank">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button class="delete-button" mat-icon-button color="warn" (click)="delete(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="bottom">
      <form [formGroup]="myForm">
        <div>
          <div class="flex justify-start">
            <mat-form-field>
              <input type="text" matInput formControlName="time" placeholder="Time">
              <mat-hint>Enter time</mat-hint>
              @if (myForm.controls['time'].hasError('required')) {
                <mat-error>Field is required</mat-error>
              }
              @if (myForm.controls['time'].hasError('minlength')) {
                <mat-error>Minimum length is 2</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="px-2">
              <input type="text" matInput formControlName="note" placeholder="Note">
              <mat-hint>Enter date</mat-hint>
              @if (myForm.controls['note'].hasError('required')) {
                <mat-error>Field is required</mat-error>
              }
              @if (myForm.controls['note'].hasError('minlength')) {
                <mat-error>Minimum length is 2</mat-error>
              }
            </mat-form-field>
            <div class="pt-2 add-button">
              <button color="primary" (click)="save()" mat-flat-button>Add</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="showCalendar" class="p-8 calendar">
    <mat-card>
      <mat-calendar [(selected)]="selectedDate" [dateClass]="dateClass"
                    (selectedChange)="onDateChange($event)"></mat-calendar>
    </mat-card>
  </div>
  <div *ngIf="!showCalendar" class="p-8 calendar">
    <mat-card>
      <mat-calendar [(selected)]="selectedDate" [dateClass]="dateClass"
                    (selectedChange)="onDateChange($event)"></mat-calendar>
    </mat-card>
  </div>
</div>

