@import '../../../theme.scss';

.card-footer {
  padding: 16px;
}

$rowGap: 4px;
$colGap: 4px;

::ng-deep .mat-calendar.dark-mode-panel{
  background-color: $semi-dark-bg-color !important;
  color: #cacaca !important;
}

::ng-deep  .mat-calendar-body-cell-content {
  color: #cacaca !important;
}

::ng-deep  .mat-calendar-body-label {
  color: #cacaca !important;
}

.button-spacer {
  flex: 1 1 auto;
}


