<div class="page md:drop-shadow-xl">
  <mat-card class="card">
    <mat-card-header>
      <div class="pt-2.5">
        <mat-card-title>{{member?.firstName}} {{member?.lastName}}</mat-card-title>
      </div>
      <span class="icon-spacer"></span>
      <button mat-icon-button color="primary" (click)="editMember()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteMember()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div class="grid grid-cols-2 gap-4 p-4">
      <div class="rounded">
        <img mat-card-image src="assets/avatar-unknown.png"></div>
      <div class="grid gap-3 grid-cols-1">
        <div>{{member?.firstName}}</div>
        <div>{{member?.lastName}}</div>
        <div>{{member?.phone}}</div>
        <div>{{member?.email}}</div>
        <div>Next training:</div>
      </div>
      <div class="col-span-2">
        <mat-tab-group>
          <mat-tab label="Progress">Progress</mat-tab>
          <mat-tab label="Trainings">Trainings</mat-tab>
          <mat-tab label="Diet">Diet</mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <mat-card-content>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="flex justify-end">
      <div class="p-4">
        <button mat-flat-button color="primary" (click)="openDetails()">DETAILS</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
