<div class="page md:drop-shadow-xl">
  <mat-card class="w-1/2" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Simple card</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      <span class="icon-spacer"></span>
      <button mat-icon-button aria-label="Example icon-button with heart icon" [routerLink]="['/main']">
        <mat-icon style="color: red">close</mat-icon>
      </button>
    </mat-card-header>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab label="Progress">
        <app-progress [fullMemberResponse]="fullMemberResponse"></app-progress>
      </mat-tab>
      <mat-tab label="Trainings">
        <app-trainings [fullMemberResponse]="fullMemberResponse"></app-trainings>
      </mat-tab>
      <mat-tab label="Diet">Diet</mat-tab>
    </mat-tab-group>
    <mat-card-content></mat-card-content>
  </mat-card>
</div>



