<div class="page md:drop-shadow-xl">
  <mat-card class="" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{member.firstName}} {{member.lastName}}</mat-card-title>
      <mat-card-subtitle>{{member.goal?.name}}</mat-card-subtitle>
      <span class="icon-spacer"></span>
      <button mat-icon-button aria-label="Example icon-button with heart icon" [routerLink]="['/list']">
        <mat-icon color="warn">close</mat-icon>
      </button>
    </mat-card-header>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a mat-tab-link
        *ngFor="let link of tabLinks"
        [routerLink]="link.path"
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
        {{ link.label }}
      </a>
    </nav>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
    <mat-card-content></mat-card-content>
  </mat-card>
</div>



