.page{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.card {
  max-width: 400px;
}

.example-stretched-tabs {
  width: 800px;
}


.icon-spacer {
  flex: 1 1 auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
