<div class="flex justify-center w-full pt-6">
  <mat-card class="w-3/12 rounded-lg drop-shadow-md md:drop-shadow-xl">
    <mat-card-content>


      <form [formGroup]="myForm" (ngSubmit)="save()">
        <div class="title">
          <h3>
            <span class="h-mr-xs">Add</span>
          </h3>
        </div>
        <mat-divider class="h-my-md"></mat-divider>
        <p>
          <mat-form-field>
            <mat-label>Outline form field</mat-label>
            <input matInput formControlName="name" placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
        </p>
        <button mat-raised-button type="submit">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
