<div [ngClass]="themeService.themeSignal()">
  <h2 mat-dialog-title>Add Member</h2>
  <mat-dialog-content>
    <form [formGroup]="myForm">
      <div class="grid grid-cols-2 gap-4">
        <mat-divider class="col-span-2"></mat-divider>
        <mat-form-field class="">
          <input type="text" matInput formControlName="firstName">
          <mat-hint>Name</mat-hint>
          @if (myForm.controls['firstName'].hasError('required')) {
            <mat-error> Field is required</mat-error>
          }
          @if (myForm.controls['firstName'].hasError('minlength')) {
            <mat-error>Minimum length is 2</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput formControlName="lastName">
          <mat-hint>Last name</mat-hint>
          @if (myForm.controls['lastName'].hasError('required')) {
            <mat-error>Field is required</mat-error>
          }
          @if (myForm.controls['lastName'].hasError('minlength')) {
            <mat-error>Minimum length is 2</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <input type="number" matInput formControlName="phone">
          <mat-hint>Phone number</mat-hint>
          @if (myForm.controls['phone'].hasError('exactNineDigits')) {
            <mat-error>Number should have 9 digits</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker">
          <mat-hint>Birthday</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker
            [ngClass]="themeService.themeSignal() === 'dark' ? 'dark-mode-option' : 'light-mode-option'"
            [panelClass]="themeService.themeSignal() === 'dark' ? 'dark-mode-panel' : 'light-mode-panel'" #picker
            startView="year" [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <div class="col-span-2">
          <div class="images-container">
            <div *ngFor="let image of images">
              <div class="images-container-selected" *ngIf="image === selectedAvatar + '.svg'"><img
                mat-card-image
                [src]="'assets/' + image"
                alt="{{ image }}"></div>
              <div (click)="setAvatar(image)" class="images-container-hover" *ngIf="image !== selectedAvatar + '.svg'">
                <img
                  mat-card-image
                  [src]="'assets/' + image"
                  alt="{{ image }}"></div>
            </div>
          </div>
        </div>
        <mat-divider class="col-span-2"></mat-divider>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button (click)="save()" [disabled]="myForm.invalid "
            type="submit">Submit
    </button>
  </mat-dialog-actions>
</div>
