@import '../../../theme.scss';

.page {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.images-container {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
}

.images-container img {
  width: 30px;
  height: auto;
  border-radius: 20%;
  transition: border-radius 0.3s ease,
  background-color 0.3s ease;
}

.images-container-hover img:hover {
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid #00abbf;
}

.images-container-selected img {
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid #00abbf;
}

.example-stretched-tabs {
  width: 800px;
}

:host ::ng-deep .mat-mdc-select-panel.dark-mode-panel {
  background-color: $semi-dark-bg-color !important;
}

:host ::ng-deep .mat-mdc-option.dark-mode-option {
  color: #cacaca !important;
}
