@import '../../../theme.scss';

.page {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.example-stretched-tabs {
  width: 800px;
}

::ng-deep .mat-mdc-select-panel.dark-mode-panel {
  background-color: $semi-dark-bg-color !important;
}

::ng-deep .mat-mdc-option.dark-mode-option {
  color: #cacaca !important;
}
