<mat-toolbar>
  <div class="logo-vertical-line">
    <a routerLink="main" routerLinkActive="active" class="nav-link">Fit Force</a>
  </div>
  <span class="pr-2"></span>
  <button *ngIf="user?.role === Role.ADMIN" mat-stroked-button><a routerLink="control-panel" routerLinkActive="active"
                                                                  class="nav-link">Control panel</a></button>
  <span class="pr-2"></span>
  <button mat-stroked-button><a routerLink="pricing" routerLinkActive="active"
                                class="nav-link">Pricing</a></button>
  <span class="pr-2"></span>
  <button mat-stroked-button>Contact</button>
  <span class="pr-2"></span>
  <button mat-stroked-button>About</button>
  <span class="icon-spacer"></span>
  <div class="theme-control">
    <mat-slide-toggle checked (click)="toggleTheme()"></mat-slide-toggle>
    <button mat-icon-button>
      @if (themeService.themeSignal() === 'dark') {
        <mat-icon>bedtime</mat-icon>
      } @else {
        <mat-icon>brightness_5</mat-icon>
      }
    </button>
  </div>
  {{ user?.firstName }} {{ user?.lastName }}
  <button mat-icon-button class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon" (click)="logOut()"
          matTooltip="Log out">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
